//@theme "/home/wasabi/.local/share/rofi/themes/launchpad.rasi"
//@theme "/usr/share/rofi/themes/solarized_alternate.rasi"
//@theme "/home/wasabi/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/usr/share/rofi/themes/solarized_alternate.rasi"
//@theme "/home/wasabi/.local/share/rofi/themes/simple-tokyonight.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
